<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td style="padding: 0 0 20px 0">
        <b>Dear <%=userName%>,</b>
      </td>
    </tr>
    <tr>
      <td style="padding: 0 0 20px 0">
        Welcome to <span style="color: #1976d2">The 95 Star</span>,
        <br>
        <span>Please click on below button to change your registered email.
        </span>
        <br>
        <br>
      </td>
    </tr>
    <tr>
      <td style="padding: 0 0 20px 0">
        <a href="<%=url %>" style="white-space:nowrap; display:block; text-decoration:none" target="_blank">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td bgcolor="#1976d2"
                style="padding:6px 16px; border-color:#1976d2; border-radius:5px; background-color:#1976d2; border-width:0px; border-style:solid">
                <a href="<%=url %>" style="color:#fff; white-space:nowrap; display:block; text-decoration:none"
                  target="_blank">Change Email</a>
              </td>
            </tr>
          </table>
        </a>
      </td>
    </tr>
    <tr>
      <td style="padding: 0 0 20px 0">
        <b style="font-weight: bold">Regards</b>
        <br>
        <b>- The 95 Star Team</b>
      </td>
    </tr>
  </table>
  